<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мої чати</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/list.css}">

</head>

<body>

<div th:replace="fragments/header :: site-header"></div>


    <div class="page-container">

        <div class="page-header">
            <a th:href="@{/user/home/main}" class="back-button">← Назад</a>
            <h2 class="page-title">💬 Мої чати</h2>

            <a th:if="${!chats.isEmpty()}"
               th:href="@{/chats/{id}(id=${chats.get(0).id})}"
               class="back-button">
                До останньої розмови →
            </a>

        </div>

        <div class="chat-card">

        <div th:if="${chats.isEmpty()}" class="empty">
            Повідомлень поки немає
        </div>

        <div th:each="chat : ${chats}">
            <a class="chat-item"
               th:href="@{/chats/{id}(id=${chat.id})}">

                <div class="chat-left">

                    <div class="avatar"
                         th:text="${
                           chat.buyer.id == currentUser.id
                           ? chat.seller.username.substring(0,1)
                           : chat.buyer.username.substring(0,1)
                         }">
                    </div>

                    <div class="chat-name"
                         th:text="${
                           chat.buyer.id == currentUser.id
                           ? chat.seller.username
                           : chat.buyer.username
                         }">
                    </div>

                </div>

                <div class="arrow">➤</div>

            </a>
        </div>

    </div>

</div>

</body>

</html>
