<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Управление категориями</h2>

<form th:action="@{/admin/add}" th:object="${category}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
ж
    <input type="text" th:field="*{name}" placeholder="Название категории">
    <button type="submit">Добавить категорию</button>
</form>

<ul>
    <li th:each="cat : ${categories}">
        <span th:text="${cat.name}"></span>
    </li>
</ul>

</body>
</html>