<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Замовлення оформленно</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/success.css}">

</head>

<body>

<div class="card">

    <div class="success-icon">✅</div>

    <h2>Замовлення оформленно!</h2>

    <p class="order-info">
        Дякуємо за покупку 🙌<br>
        Продавець вже майже ознайомленний з ващим замовленням.
    </p>

    <a th:if="${order.chat != null}"
       th:href="@{/chats/{id}(id=${order.chat.id})}"
       class="btn btn-primary">
        💬 Звязок з продавцем
    </a>

    <a href="/"
       class="btn btn-secondary">
        ⬅ Вернутись на головну
    </a>

</div>

</body>
</html>
