<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label>Имя пользователя: <input type="text" name="username"/></label><br>
    <label>Пароль: <input type="password" name="password"/></label><br>
    <button type="submit">Войти</button>
</form>
<p>CSRF токен: <span th:text="${_csrf.token}"></span></p>
<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label>Имя пользователя: <input type="text" name="username"/></label><br>
    <label>Пароль: <input type="password" name="password"/></label><br>
    <button type="submit">Войти</button>
</form>

</body>
