<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Помилка'">Помилка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/error.css}">

</head>

<body>

<div class="error-card">

    <div class="error-icon">⚠️</div>

    <h1 class="error-title"
        th:text="${title} ?: 'Відбулась помилка'">
        Відбулась помилка
    </h1>

    <p class="error-message"
       th:text="${message} ?: 'Щось пішло не так , попробуйте ще раз.'">
        Деталі помилки
    </p>

    <div class="error-code" th:if="${code != null}">
        Код помилки: <span th:text="${code}"></span>
    </div>

    <a th:href="${backUrl} ?: '/'" class="back-btn">
        ⬅ Вернутись назад
    </a>

</div>

</body>
</html>
