<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Деталі товару</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/product-details.css}">

</head>

<body>

<main>

    <div class="product-card">

        <img th:if="${product.imageUrl != null and not #strings.isEmpty(product.imageUrl)}"
             th:src="@{'/uploads/' + ${product.imageUrl}}"
             alt="Зображення товару"
             class="product-image"/>

        <div class="product-content">

            <h2 class="product-title">
                📦 <span th:text="${product.name}">Назва товару</span>
            </h2>

            <div class="product-description">
                <span class="emoji">📝</span>
                <span th:text="${product.description}"></span>
            </div>

            <div class="product-row">
                <span class="emoji">💰</span>
                <span>Цiна: <strong th:text="${product.price}"></strong> грн</span>
            </div>

            <div class="product-row">
                <span class="emoji">📥</span>
                <span>Кiлькiсть в продавця:
                    <strong th:text="${product.quantity}"></strong>
                </span>
            </div>

            <button onclick="history.back()" class="btn-back">
                Назад
            </button>

        </div>
    </div>

</main>

</body>
</html>
